<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User {{users._id}}</title>
 <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header}}
<div class="mains">
    <div class="form_main">
        <div class="card-header bg-success">
         <h2 >Update Form {{user.name}} </h2>
         </div>
         <form  action="/update/{{user._id}}" method="POST" enctype="multipart/form-data" >
            <input type="text" class="input" value={{user.name}} name="name"  placeholder="Enter Name" >
            <input type="email" class="input" name="email" value={{user.email}}  placeholder="Email" >
            <input type="number" class="input" name="phone" value={{user.Phone}} placeholder="Phone Number">
            <div class="image" >
            <input type="file" name="new_image" class="input">
           <img src="../../backend/image/{{user.image}}" alt="public/backend/image/{{users.image}}" style="width:6rem; height:6rem; margin-left:2rem" class="img-thumbnail mt-1">
            </div>
                <input type="hidden" name="old_image" value="{{user.image}}">
            <button class="btn-login btn btn-success" type="submit" >Update Data</button>  
         </form>
             </div>
    </div>

</body>
</html>